.profile__add-button{
    display: flex;
    width: 146px;
    height: 46px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.profile__add-button:hover{
    cursor: pointer;
    opacity: 0.6;
}
@media (max-width: 690px){
    .profile__add-button{
        width: 278px;
        margin-top: 36px;
    }
}
