.popup__close-button{
    position: absolute;
    top: -40px;
    right: -40px;
}
.popup__close-button:hover{
    cursor: pointer;
    opacity: 0.6;
}
@media (max-width: 320px){
    .popup__close-button{
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}